{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "semi": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "overrides": [
        {
            "files": "*.json",
            "options": { "tabWidth": 2 }
        }
    ]
}
