@tailwind base;
@tailwind components;
@tailwind utilities;

#no-focus:focus{
  outline: none;
}
#settings-modal> .usa-modal-overlay{
  overflow-y: hidden;
}
#budgets-container > #summary-component-container{
  justify-content: center;
}
